<div class="text-center my-3">
    <h2>Welcome to the machine learning app</h2>
    <br>
    <button class="btn btn-primary mx-2" [routerLink]="['/new-diamond-price']">Enter dimensions of the diamond</button>
    <button class="btn btn-primary mx-2" [routerLink]="['/new-car-price']">Enter car dimensions</button>
    <button class="btn btn-primary mx-2" [routerLink]="['/diamond-list']">List of diamond entries</button>
    <button class="btn btn-primary mx-2" [routerLink]="['/diamond-retrieve']">Get diamond attributes</button>
</div>